/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* define a font */
@font-face {
	font-family: menuFont;
	src: url('myriad-pro/MYRIADPRO-REGULAR.woff');
}

@font-face {
	font-family: myriadpro-bold;
	src: url('myriad-pro/MYRIADPRO-BOLD.woff');
}

@font-face {
	font-family: overpas-extraBold;
	src: url('Overpass/Overpass-ExtraBold.ttf');
}

@font-face {
	font-family: poppins-regular;
	src: url('Poppins/Poppins-Regular.ttf');
}

@font-face {
	font-family: poppins-medium;
	src: url('Poppins/Poppins-Medium.ttf');
}



a{
	text-decoration: none;

}

li {
	list-style: none;
}

.container{
	max-width: 1170px;
	margin: 0px auto;
}

.inline *{
	display: inline;
}

.has-two-col{
	display: flex;
	justify-content: space-between;
}

ul.inline-list li{
	display: inline;
}

body{
	width: 1920px;
}

#top{
	background: #ece7f3 url('image/background1/background1.png') no-repeat center top;
	background-size: cover;
	padding-top: 48px;
	height: 1080px;
}

/* ----------------------style header ----------------------*/



#top-bar{
	height: 48px;
	line-height: 48px;
}

#top-bar h1 a{
	display: flex;
	line-height: 48px;
	height: 48px;
	align-items: center;
}

#menu {
	font-size: 0;
}

#menu li a{
	display: inline-block;
	font-size: 22px;
	line-height: 48px;
	height: 48px;
	color: #111111;
	padding: 0px 15px;
	font-family: menuFont;
}

#menu li:last-child a{
	color: #111111 ;
	font-size: 22px;
	line-height: 48px;
	font-family: myriadpro-bold;
	padding: 0 40px;
	border: 2px solid #c04ae2 ;
	border-radius: 10px;
	background-color: transparent;
	margin: 0px 15px;
	cursor: pointer;
}

#menu li:last-child a:hover{
	background-color: #d1cff0 ;
}


#social li a{
	padding: 0 8px;
	line-height: 48px;
}

/* ----------------------style hero ---------------------- */

#hero{
	margin-top: 140px;
}

#login{
	width: 600px;
}

#login-form{
	border: 2px solid #f2f2f2 ;
	border-radius: 5px;
	box-shadow: 0px 27px 43px rgb(32, 94, 171, 0.4);
}


#login-form #form-name h2 {
	font-family: overpas-extraBold;
	font-size: 20px;
	line-height: 24px;
	border: 1px solid #c04ae2;
	color: white;
	padding-top: 23px;
	padding-bottom: 23px;
	padding-left: 22px;
	background-color: #c04ae2 ;
	border-radius: 5px 5px 0px 0px ;

}


#login-form #id-password-submit{
	background-color: #f2f2f2;
	padding-bottom: 35px;
}

#login-form #id-password-submit #error-massage{
	font-family: poppins-medium;
	font-size: 18px;
	line-height: 26px;
	color: red;
	text-align: center;
}

#login-form #id-password-submit div{
	padding-top: 25px;
}

#login-form #id-password-submit input{
	display: block;
	margin: 0 auto;
	font-family: poppins-medium;
	font-size: 18px;
	line-height: 26px;
	padding-top: 16px ;
	padding-bottom: 16px;
	padding-left: 20px;
	border: 2px solid #dfdfdf;
	border-radius: 10px;
	color: #999999;
	background-color: #f0eef0;
	width: 500px;
	outline: none;
}

#login-form #id-password-submit #password{
	position: relative;
}

#show-password{
	font-family: poppins-medium;
	font-size: 18px;
	line-height: 26px; 
	color: #999999;
	display: inline-block;
	position: absolute;
	right: 55px ;
	top: 30px;
	border: 2px solid #dfdfdf;
	border-radius: 10px;
	padding: 10px 20px;
	cursor: pointer;
}

#login-form #id-password-submit #signin button{
	display: inline-block;
	font-family: poppins-medium;
	font-size: 18px;
	line-height: 26px;
	border: 1px solid #c04ae2;
	background-color: #c04ae2;
	color: white;
	border-radius: 5px;
	padding: 11px 26px;
	margin-left: 50px;
	cursor: pointer;
}

#login-form #id-password-submit #signin button:hover{
	background-color: #a425c8;
}

#login-form #id-password-submit #signin a{
	display: inline-block;
	font-family: poppins-medium;
	font-size: 18px;
	line-height: 26px;
	color: #999999;
	margin-left: 50px;
}

#login-form #id-password-submit #signup{
	text-align: center;
}


#login-form #id-password-submit #signup p{
	font-family: poppins-medium;
	font-size: 18px;
	line-height: 26px;
}

#login-form #id-password-submit #signup a{
	display: inline-block;
	font-family: poppins-medium;
	font-size: 18px;
	line-height: 26px;
	margin-top: 20px;

}


#hero-right {
	position: relative;
	flex-grow: 1;
}

#hero-right img{
	position: absolute;
	top: 0;
	left: 50px;
}

/* ------------------ Style Footer---------------------------- */

footer{
	background: #f4efec url('image/footer/footer.png') no-repeat center top ;
	padding-bottom: 60px;
	padding-top: 170px;
}

footer #footer-wraper{
	display: flex;
	justify-content: space-between;	
}

footer #footer-wraper #subcribe{
	width: 400px;
}

footer #footer-wraper #subcribe p{
	margin-top: 40px;
	font-family: poppins-regular;
	font-size: 18px;
	line-height: 27px;
}

footer #about h2{
	font-family: overpas-extraBold;
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 35px;
}

footer #about ul li a{
	display: inline-block;
	font-family: poppins-medium;
	font-size: 18px;
	line-height: 30px;
	color: #5e5858;
	margin-bottom: 17px;

}

footer #service h2{
	font-family: overpas-extraBold;
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 35px;
}

footer #service ul li a{
	display: inline-block;
	font-family: poppins-medium;
	font-size: 18px;
	line-height: 30px;
	color: #5e5858;
	margin-bottom: 17px;

}

footer #get-in-touch h2{
	font-family: overpas-extraBold;
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 35px;
}

footer #get-in-touch ul li img{
	margin-right: 22px;
}

footer #get-in-touch ul li a{
	display: inline-block;
	font-family: poppins-medium;
	font-size: 18px;
	line-height: 30px;
	color: #5e5858;
	margin-bottom: 17px;

}

footer #get-in-touch ul li:first-child a #content1::after{
	content: "\a";
    white-space: pre;
}

footer #get-in-touch ul li:first-child a #content2{
	margin-left: 35px;
}

footer #follow-us{
	margin-top: 140px;
}

footer #follow-us h2 {
	font-family: overpas-extraBold;
	font-size: 18px;
	line-height: 26px;
	margin-right: 65px;
}

footer #follow-us ul li {
	margin-right: 15px;
}
