<!DOCTYPE html>
<html>
<head>
	{% load static %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta >
	<link rel="stylesheet" href= {% static "https://fonts.googleapis.com/css?family=Font+Name" %}/>
	<link rel="stylesheet" type=  "text/css" href= {% static "login.css" %}/>
	<title>Project ROU</title>
</head>
<body>

<div id="top">

	<header id="top-bar" class="container has-two-col">

		<h1>
			<a href="#">
				<img src="image/logo rou.png">
			</a>
		</h1>

		<!-- ------------------------------------ -->

		<div class="inline">


			<ul id="social">
				<li><a href="#"><img src="image/social/fb.png"></a></li>
				<li><a href="#"><img src="image/social/tw.png"></a></li>
				<li><a href="#"><img src="image/social/youtube.png"></a></li>
				<li><a href="#"><img src="image/social/instagram.png"></a></li>
			</ul>

		</div>

	</header>

	<!-- ---------------------------------------------- -->

	<div id="hero" class="container has-two-col">

		<div id="login">

			<form id="login-form">

				<div id="form-name">
					<h2>Login Form</h2>
				</div>


				<div id="id-password-submit">

					<div id="error-massage">
						Error: Password is not correct
					</div>

					<div id="email"><input type="email" name="" placeholder="Email"></div>
					
					<div id="password">
						<input type="password" name="" placeholder="Password">
						<span id="show-password">Show</span>
					</div>

					<div id="signin">
						<button type="submit"> Sign In</button>
						<a href="#">Lost Your Password?</a>
					</div>

					<div id="signup">
						<p>New to ROU?</p>
						<a href="#">Create an account</a>
					</div>

				</div>
	
			</form>


		</div>

		<div id="hero-right">
			<img src="image/background1/people.png">
		</div>

	</div>	

</div>

<!-- ---------------------------------------------- -->

<footer>
	<div id='footer-wraper' class="container">

		<div id="subcribe">
			<h1>

				<img src="image/logo rou.png">
			</h1>

			<p>Fectetur adipisicing elit, sed do eius mod tempor Lorem ipsum dolor sit amet, con sectetur adipisicing elitt ut labore.</p>
		</div>

		<div id="about">
			<h2>About</h2>
			<ul>
				<li><a href="#">Abou Us</a></li>
				<li><a href="#">Service</a></li>
				<li><a href="#">Our Story</a></li>
				<li><a href="#">Success</a></li>
				<li><a href="#">Support</a></li>
			</ul>
		</div>

		<div id="service">
			<h2>Service</h2>
			<ul>
				<li><a href="#">Development</a></li>
				<li><a href="#">Maintanance</a></li>
				<li><a href="#">Consultancy</a></li>
				<li><a href="#">Design</a></li>
			</ul>
		</div>

		<div id="get-in-touch">
			<h2>Get in Touch</h2>
			<ul>
				<li>
					<a href="#">
						<img src="image/footer/address.png">
						<span id='content1'>University of Houston</span>
						<span id='content2'>Houston, Texas 77204</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="image/footer/mail.png">uh@cougarnet.uh.edu
					</a>
				</li>
				<li>
					<a href="#">
						<img src="image/footer/phone.png">(713) 743-2255
					</a>
				</li>

			</ul>
		</div>

	</div>

	<div id="follow-us" class="container inline">
		<h2>Follow Us</h2>
		<ul id="social">
				<li><a href="#"><img src="image/social/fb.png"></a></li>
				<li><a href="#"><img src="image/social/tw.png"></a></li>
				<li><a href="#"><img src="image/social/youtube.png"></a></li>
				<li><a href="#"><img src="image/social/instagram.png"></a></li>
		</ul>
	</div>
</footer>


</body>
</html>